<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('bundles/atmpromotools/css/reset.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpromotools/css/css.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpromotools/fonts/lato.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpromotools/fonts/quicksand.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpromotools/fonts/leaguespartan.css') }}" type="text/css"/>
    <script src="{{ asset('bundles/promotools/js/jquery-1112.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% block atm_promotools_stylesheets %}{% endblock atm_promotools_stylesheets %}
    {% block atm_promotools_headingJS %}{% endblock atm_promotools_headingJS %}
</head>
<body>
<div class="inner" style="max-width: none">
    {% block atm_promotools_content %}{% endblock atm_promotools_content %}
</div>
{% block atm_promotools_javascripts %}{% endblock atm_promotools_javascripts %}
</body>
</html>
