* {margin:0;padding:0}
html,body {height:100%;background-color: #f8f6f6;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body {font: 15px/24px Quicksand, sans-serif;color: #000;background: #f9f6f6;cursor:default;text-align:center}
body.newTour{font: 15px/24px "Quicksand", sans-serif}
body.white{background:#FFF}
table {border-collapse:separate;border-spacing:0}
caption,th,td {text-align:left;font-weight:normal}
table,td,th {vertical-align:middle}
blockquote::before,blockquote::after,q::before,q::after {content:""}
blockquote,q {quotes:"" ""}
a img, button {outline:none;border:0;background:none}
a {outline:0 none;text-decoration: none;color: #000}
a *{cursor: pointer}
a:focus,a:hover {text-decoration:none;outline:0 none;cursor:pointer}
.clear {clear:both}
.over {overflow:hidden;height:0}
ul,li,ol,li,b,img,p,a,h1,h2,h3,h4,h5 {float:left;display:inline-block;text-align: left}
input,textarea {display:inline-block;text-align: left}
[data-sr] {visibility:hidden}
.fa-heart, .red {color: #ff558f}
*, *::after, *::before, *:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-indent: 1px;
}
.sorting select::-ms-expand {display: none}
.sorting select {-webkit-appearance: none;-moz-appearance: none;text-overflow: '';text-indent: 1px}
.small{font-size:0.8rem !important}
.right{float:right}
.left{float:left}
.center{text-align:center}
.x2{font-size:1.3rem}
.x3{font-size:2.5rem}
.flex{display:flex;align-items: center;justify-content: space-between}
.b{font-family: QuicksandBold, Arial, sans-serif}
.latobold{font-family:LatoBold, Arial, sans-serif}

.selectC {position: relative;display: inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-khtml-border-radius: 4px;border: 1px solid #ccc;width: auto;font: 500 12px/22px Open Sans, Arial, sans-serif;cursor: pointer;position: relative}
.selectC select {display: inline-block;border: 0;background: none;color: #000;padding: 6px 37px 7px 8px;z-index: 2;position: relative;font-size: 12px;cursor: pointer;line-height: 14px;white-space: nowrap;font-family: Quicksand, Arial, sans-serif}
.selectC::before {z-index: 1;content: "";width: 25px;height: 27px;position: absolute;right: 0;top: 0;background: url(/media/promotools/assets/images/caret_down.svg) no-repeat center center;border-left: 1px solid rgba(0, 0, 0, 0.31);background-size: 12px}

.content            { width: 100%; max-width: 1300px; min-height: 100%}
.wide 	            { width: 100%}
.narrow	            { width: 95%; max-width:1000px; margin:0 auto}
.half               { width: 50%;float:left}
.threequarter       {width: 75%;float: left}
.quarter            {width: 25%;float: left}
.third				{width:33.33%;float:left}
.twothird			{width:66.66%;float:left}
.smallfifth         {width:20%;float:left;}
.longfifth          {width:80%;float:left}
.fifth				{width:20%;float:left}

.extramargin1		{margin:10px 0;float:left}
.extramargin2		{margin: 40px 0;float:left}

.saved{border:1px solid #30912C !important}

@media all and (max-width: 800px)   { .half{width: 85%;margin: 0 7.5%}}
@media all and (max-width: 1000px)  { .narrow    { width: 96%; margin-left: 2%; margin-right: 2%; }}
@media all and ( min-width: 1300px) { .content   { float: none !important; }}

a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background:#ff4081!important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.but.dark{background:#777 !important}
.but.dark:hover{background:#777676}
a.but.inactive{background: #a9a9a9;border: 0;color: #000}

.inner {float:none;width:100%;margin: 0 auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1100px}
.inner.noborder {border:0}
.inner.nopadding {padding:0}
.inner.nomargin {margin:0}
.inner.nomarginbottom {margin-bottom:0}
.inner.nopaddingbottom {padding-bottom:0}
.inner.nobackground {background: #fff}
.inner_grey {float:left;display:inline-block;width:100%;margin:0;position:relative;text-align:center;background:none;overflow:hidden;border-top:1px solid #e5e5ea}
.inner.wide{max-width:none;width:100%;background: #efd0d0;text-align: left;position: relative;z-index: 0}
.inner.padding{padding: 78px 0 110px}
.inner.grad, h1.grad, .footer .cont.gray.grad{background: rgb(255,64,129);background: -moz-linear-gradient(-45deg, rgba(255,64,129,1) 13%, rgba(41,137,216,1) 55%, rgba(32,124,202,1) 65%, rgba(125,185,232,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(255,64,129,1) 13%,rgba(41,137,216,1) 55%,rgba(32,124,202,1) 65%,rgba(125,185,232,1) 100%);background: linear-gradient(135deg, rgba(255,64,129,1) 13%,rgba(41,137,216,1) 55%,rgba(32,124,202,1) 65%,rgba(125,185,232,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4081', endColorstr='#7db9e8',GradientType=1 )}
.inner.wide .wide{max-width:1100px;margin:0 auto}
.inner.wide .narrow{max-width:1000px;margin:0 auto}
.inner.wide.bg::before{width:100%;height:100%;content:"";position:absolute;top:0;left:0;z-index:0;opacity:.5;background:#310515}
.inner.wide.bg .half{position:relative;top: 50%;transform: translateY(-50%)}
.inner.wide.gray{background: #f5f0ea;position:relative;padding: 38px 0 60px}
.inner.wide.gray::before{content:"";width:50%;height:100%;background:#484848;position:absolute;top:0;left:0;display:none}
.inner.inner-player{width: 90%;margin: 0 5% 0;background: #f9f6f6}
.inner.inner-player>.threequarter{background: #f9f6f6;margin-top:-59px}
.header {float:left;display:inline-block;width:100%;position: relative;z-index: 999999;height: auto}
.header .inner {width:98%;float:none;max-width: 1100px;margin:0 auto;padding:0;border:0;background:0}
.inner  p, textarea, input{text-align:left;font: normal 14px/18px Quicksand, serif}

/*Navigation*/
.navigation{float:left;margin:20px 0 0;width:100%;text-align:center}
.thumbs .navigation{width:100%;margin:0}
.pagination{display:inline-block;text-align:center;margin:0 auto}
.pagination span{float:left;display:inline-block;font:14px/33px "Quicksand",serif;margin:0 4px 0 0;overflow:hidden;border-radius:6px;border:1px solid #ccc;padding:0;width:35px;text-align:center}
.pagination span.last a{padding:0 10px}
.pagination span a{color:#000;padding:0;background:#f7f5f3;width:100%;text-align:center;float:left}
.pagination span a:hover{color:#000032;background:#ffffff}
.pagination span a.highlight, .pagination span a.highlight:hover, .pagination span.current{color:#000000;cursor:default;background:rgb(196, 229, 255)}

.login{margin: 50px auto;display: block;float: none;padding: 10px;box-sizing: border-box;border-radius: 10px;border: 1px solid #c7c7c7;background-color: #fff;}
.login h1{width: 100%;display: inline-block;font-weight: bold;font-size: 20px;text-align: center;margin-bottom: 10px;}
.login form .center i{font-size: 20px;}
.login form .center input{width: 90%;border: 1px solid #cdc1c1;padding: 5px;margin-bottom: 10px;border-radius: 5px;text-align: center}

.promotools .header{padding: 10px;box-sizing: border-box;}
.promotools .header h1{font-size: 30px;font-family: LatoBold;display: inline-block;width: 100%;text-align: center;margin-bottom: 20px;}
.promotools .header .menu{}
.promotools .header .menu li{min-width: 150px;position: relative;}
.promotools .header .menu li a{display: inline-block;width: 100%;text-align: center;}
.promotools .header .menu li .submenu{display: none;width: 100%;position: absolute;bottom: -60px;left: 0;background-color: #fff;}
.promotools .header .menu li .submenu a{float:none;margin-top: 5px;}
.promotools .header .menu li .submenu a:hover{text-decoration:underline}

.promotools .body{background-color: #fff;border: 1px solid #bdbdbd;padding: 10px;box-sizing: border-box;}
.promotools .body fieldset legend{font-size: 20px;font-weight: bold;}
.promotools .body form{margin: 10px auto;float: none;padding:10px;border-radius:5px}
.promotools .body form h1,.promotools .body .advertisements h1{width:100%;text-align: center;font-size: 20px;margin-bottom: 20px;text-decoration: underline}
.promotools .body form input[type="text"], .promotools .body form textarea{border: 1px solid #acacac;padding: 5px;box-sizing: border-box;border-radius: 5px;width:100%;}
.promotools .body form textarea{resize: vertical;min-height: 150px;}
.promotools .body form input[type="submit"]{display: block;margin: 20px auto;}
.promotools .body form fieldset{margin-bottom: 20px;}